body{
    background-color: white;
    margin=0;
    font-family: Arial, sans-serif;
    background: linear-grafient(to right, black, #243b55);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100hv;
}

h1{
    color: white;
}

.menu_container{
    background: black;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
}

.menu{
    list-style: none; 
}

.menu li{
    margin: 15px 0;
}

.menu a{
    display: block;
    text-decoration: none;
    background-color: #3498db;
    color: white;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover{
    background-color: #2c3e50;
    transform: scale(1.05);
}

.btn{
    display: block;
    background-color: #3498db;
    color: white;
    padding: 12px;
    border-radius: 8px;
    tetx-decoration: none;
    fonrt-weight: bold;
    transition: 0.3s;
}

.btn:hover{
    background-color: #2c3e50;
    transform: scale(1.05);
}